.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: black;
}
  
.navLeft {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    max-width: 45rem;
}
  
.navRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
  
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
  
.githubLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 2rem;
}
  
.cartIcon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
  
    @media only screen and (max-width: 768px) {
    .logo {
      display: none;
    }

    .nav {
        gap: 3rem;
    }
    
    .githubLink {
      margin-left: auto;
    }

    .navLeft {
        width: 100%; /* Set the search bar width to 100% on smaller screens */
    }

    .searchIcon {
        margin-left: 0.5rem; /* Add some spacing between input and button */
    }
}
  